@font-face {
  font-family: 'Avenir Next';
  src: url("fonts/AvenirNextLTPro-Regular.otf") format("truetype"); }

@font-face {
  font-family: 'Avenir Bold';
  src: url("fonts/AvenirNextLTPro-Bold.otf") format("truetype"); }

@font-face {
  font-family: 'Avenir DemiBold';
  src: url("fonts/AvenirNextLTPro-Demi.otf") format("truetype"); }

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Avenir Next';
  font-size: 14px;
  background-color: white;
  color: #4a4a4a;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased; }

b {
  font-family: "Avenir Bold"; }

a, a:hover, a:visited {
  color: black;
  text-decoration: none;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease; }

nav {
  z-index: 14;
  height: 60px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Avenir Bold';
  overflow: hidden;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.13); }
  nav .logo {
    position: relative;
    float: left;
    height: 100%;
    width: 200px;
    background: url("../img/flatbook-logo-blue.svg") center center no-repeat;
    background-size: 80% auto;
    padding: 0px 18px;
    font-size: 18px;
    text-transform: uppercase; }
  nav a {
    display: block;
    height: 20px;
    padding: 20px 40px;
    padding-bottom: 15px;
    position: relative;
    float: right; }
  nav a.active {
    border-bottom: 5px solid #000; }
  nav a.login {
    padding: 17px 40px;
    border: 4px solid #298cfa;
    color: #298cfa;
    padding-bottom: 16px; }
  nav a.login:hover {
    background-color: #298cfa;
    color: white; }

.content {
  	/*position:absolute;
  	top:60px;
  	left:0;
  	right:33%;
  	bottom:0;
  */
  position: relative;
  width: 67%;
  height: 100%;
  float: left;
  padding-right: 15px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  /* inside fullview */ }
  .content * {
    position: relative;
    width: 100%; }
  .content .location {
    z-index: 5;
    position: fixed;
    top: 60px;
    width: 67%;
    background-color: #405163;
    height: 12px;
    padding: 13px 0;
    text-transform: uppercase;
    cursor: pointer; }
    .content .location span {
      color: white;
      font-size: 12px;
      padding-left: 10px;
      -webkit-transition: 0.3s all ease;
      -moz-transition: 0.3s all ease;
      -ms-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .content .location span:hover {
      text-decoration: underline; }
    .content .location span:first-child {
      padding-left: 20px; }
    .content .location span.divider {
      padding-left: 10px;
      color: #81baf8; }
  .content .search, .content .fullview {
    position: absolute;
    top: 98px;
    left: 0;
    width: 100%;
    background-color: white;
    -webkit-transition: 0.5s left ease-out;
    -moz-transition: 0.5s left ease-out;
    -ms-transition: 0.5s left ease-out;
    -o-transition: 0.5s left ease-out;
    transition: 0.5s left ease-out; }
  .content .fullview {
    overflow: hidden; }
  .content .search.hidden {
    /*width:0;
    overflow:hidden;*/
    position: fixed;
    left: -100%;
    z-index: 3; }
  .content .fullview.hidden {
    position: fixed;
    left: 100%;
    z-index: 3; }
  .content .search .details .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .content .search .details .row .item {
      text-align: center;
      width: 20%; }
    .content .search .details .row .option {
      flex: 1;
      height: 100%;
      padding-right: 30px;
      padding-top: 20px; }
      .content .search .details .row .option .label {
        width: 50px;
        height: 14px;
        position: relative;
        margin-left: 47%;
        padding-top: 10px;
        padding-bottom: 20px;
        color: #4a4a4a; }
  .content .search .results {
    position: relative;
    background-color: #f4f4f4; }
    .content .search .results .filters {
      position: relative;
      width: 100%;
      height: 50px;
      color: #979797;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: top;
      -webkit-align-items: top;
      -ms-flex-align: top;
      align-items: top;
      -webkit-box-pack: space-between;
      -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
      justify-content: space-between; }
      .content .search .results .filters * {
        width: auto; }
      .content .search .results .filters .filt {
        cursor: pointer;
        position: relative;
        height: 12px;
        line-height: 12px;
        padding: 14px 20px;
        display: inline-block;
        background-color: #f4f4f4;
        border-bottom-right-radius: 20px;
        box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.16);
        padding-left: 70px;
        margin-left: -50px;
        -webkit-transition: 0.3s all ease;
        -moz-transition: 0.3s all ease;
        -ms-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        .content .search .results .filters .filt .close {
          height: 12px;
          width: 12px;
          display: inline-block;
          margin-left: 10px;
          background: url("../img/x-grey.png") center center no-repeat;
          background-size: contain; }
      .content .search .results .filters .filt:first-child {
        border-bottom-left-radius: 20px;
        background-color: #d8d8d8;
        margin-left: 20px;
        padding-left: 20px;
        z-index: 4; }
      .content .search .results .filters .filt:nth-child(2) {
        z-index: 3; }
      .content .search .results .filters .filt:nth-child(3) {
        z-index: 2; }
      .content .search .results .filters .filt:hover {
        color: black;
        background-color: white; }
      .content .search .results .filters .number {
        padding: 14px;
        padding-right: 20px; }
        .content .search .results .filters .number span {
          display: inline-block;
          margin: 0 5px; }
    .content .search .results .listings {
      position: relative;
      width: 100%;
      background-color: #f4f4f4;
      min-height: 200px; }
      .content .search .results .listings .apartment {
        cursor: pointer;
        position: relative;
        float: left;
        width: 44%;
        margin-left: 4%;
        margin-top: 4%;
        height: auto;
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.13);
        -webkit-transition: 0.3s box-shadow ease-out;
        -moz-transition: 0.3s box-shadow ease-out;
        -ms-transition: 0.3s box-shadow ease-out;
        -o-transition: 0.3s box-shadow ease-out;
        transition: 0.3s box-shadow ease-out; }
        .content .search .results .listings .apartment .fav {
          cursor: pointer;
          position: absolute;
          right: 10px;
          top: 10px;
          height: 40px;
          width: 40px;
          background: url("../img/fav.png") center center no-repeat;
          -webkit-transition: 0.3s all ease-out;
          -moz-transition: 0.3s all ease-out;
          -ms-transition: 0.3s all ease-out;
          -o-transition: 0.3s all ease-out;
          transition: 0.3s all ease-out; }
        .content .search .results .listings .apartment .fav.inactive {
          filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
          /* Firefox 10+, Firefox on Android */
          filter: gray;
          /* IE6-9 */
          -webkit-filter: grayscale(100%);
          /* Chrome 19+, Safari 6+, Safari 6+ iOS */
          opacity: 0.7;
          filter: alpha(opacity=70); }
        .content .search .results .listings .apartment .fav.inactive:hover {
          filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
          -webkit-filter: grayscale(0%);
          opacity: 1;
          filter: alpha(opacity=100); }
        .content .search .results .listings .apartment .price {
          position: absolute;
          left: 0px;
          top: 130px;
          height: 22px;
          width: auto;
          padding: 9px 15px;
          color: white;
          background-color: rgba(41, 140, 250, 0.8);
          font-size: 22px;
          text-align: center; }
          .content .search .results .listings .apartment .price .dolla, .content .search .results .listings .apartment .price .per {
            font-size: 12px; }
          .content .search .results .listings .apartment .price .dolla {
            vertical-align: top; }
        .content .search .results .listings .apartment .preview {
          height: 200px;
          width: 100%;
          background: url("../img/preview.png") center center no-repeat;
          background-size: cover; }
        .content .search .results .listings .apartment .info {
          width: 90%;
          padding: 5%;
          background-color: white; }
          .content .search .results .listings .apartment .info .title {
            color: #298cfa;
            margin-bottom: 5px; }
          .content .search .results .listings .apartment .info .address {
            color: #4a4a4a;
            margin-bottom: 10px; }
        .content .search .results .listings .apartment .stats {
          width: 100%;
          border-top: 1px solid rgba(0, 0, 0, 0.05);
          height: 40px;
          background-color: white;
          text-align: right;
          color: #979797; }
          .content .search .results .listings .apartment .stats .item {
            display: inline-block;
            height: 12px;
            width: auto;
            padding: 14px 22px;
            padding-right: 18px; }
          .content .search .results .listings .apartment .stats .size {
            background: url("../img/size.png") center left no-repeat;
            background-size: 16px auto; }
          .content .search .results .listings .apartment .stats .bath {
            background: url("../img/bathroom.png") center left no-repeat;
            background-size: 16px auto; }
          .content .search .results .listings .apartment .stats .bed {
            background: url("../img/bed.png") center left no-repeat;
            background-size: 16px auto; }
      .content .search .results .listings .apartment:hover {
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.3); }
    .content .search .results .listings:after {
      clear: both;
      content: "";
      display: block;
      height: 50px; }
  .content .fullview .pic {
    height: 440px;
    width: 100%;
    background: url("../img/preview-large.png") center center no-repeat;
    background-size: cover; }
  .content .fullview .info {
    width: 94%;
    padding: 3%;
    background-color: white; }
    .content .fullview .info .title {
      color: #298cfa;
      font-size: 26px;
      margin-bottom: 5px; }
    .content .fullview .info .address {
      color: #4a4a4a;
      font-size: 20px;
      margin-bottom: 10px; }
  .content .fullview .stats {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    height: 100px;
    background-color: white;
    text-align: left;
    color: #979797; }
    .content .fullview .stats .item {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      display: inline-block;
      padding: 20px;
      width: 84px; }
    .content .fullview .stats .item img {
      width: 40px; }
  .content .fullview .scrollinfo {
    width: 300px;
    height: auto;
    position: absolute;
    background-color: white;
    top: 440px;
    right: 0px;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.13);
    z-index: 0; }
    .content .fullview .scrollinfo .blurred {
      position: absolute;
      top: -40px;
      left: 0;
      height: 40px;
      width: 100%;
      background: url("../img/preview-large.png") right bottom no-repeat;
      background-size: auto 400px;
      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -ms-filter: blur(3px);
      -o-filter: blur(3px);
      filter: blur(3px);
      filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='3'%20/></filter></svg>#blur");
      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
      overflow: hidden; }
    .content .fullview .scrollinfo .topbar {
      position: relative;
      margin-top: -40px;
      width: 100%;
      height: 40px;
      background: -webkit-linear-gradient(left, rgba(41, 140, 250, 0.8), rgba(200, 109, 215, 0.8));
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, rgba(41, 140, 250, 0.8), rgba(200, 109, 215, 0.8));
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, rgba(41, 140, 250, 0.8), rgba(200, 109, 215, 0.8));
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, rgba(41, 140, 250, 0.8), rgba(200, 109, 215, 0.8));
      /* Standard syntax (must be last) */
      color: white; }
      .content .fullview .scrollinfo .topbar .left {
        font-size: 12px;
        vertical-align: center;
        height: 12px;
        width: 70px;
        padding: 14px 10px;
        position: relative;
        float: left; }
      .content .fullview .scrollinfo .topbar .right {
        position: relative;
        float: right;
        height: 22px;
        width: auto;
        padding: 9px 2px;
        font-size: 22px; }
      .content .fullview .scrollinfo .topbar .per {
        font-size: 12px;
        margin-right: 10px;
        vertical-align: bottom; }
      .content .fullview .scrollinfo .topbar .dolla {
        font-size: 12px; }
    .content .fullview .scrollinfo .topbar:before {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3); }
    .content .fullview .scrollinfo .scrollbox .button {
      cursor: pointer;
      width: 60%;
      color: #979797;
      margin: 10px auto;
      margin-top: 20px;
      height: 12px;
      padding: 14px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      border-radius: 25px;
      border: 2px solid #979797;
      text-transform: uppercase;
      -webkit-transition: 0.3s all ease;
      -moz-transition: 0.3s all ease;
      -ms-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      transition: 0.3s all ease;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .content .fullview .scrollinfo .scrollbox .button .heart {
        height: 16px;
        width: 16px;
        background: url("../img/fav-inactive.png") center center no-repeat;
        background-size: auto 16px;
        margin-right: 5px;
        -webkit-transition: 0.3s all ease;
        -moz-transition: 0.3s all ease;
        -ms-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease; }
    .content .fullview .scrollinfo .scrollbox .button.fav {
      margin-top: 10px;
      -webkit-transition: 0.3s all ease;
      -moz-transition: 0.3s all ease;
      -ms-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .content .fullview .scrollinfo .scrollbox .button:hover {
      color: white;
      background-color: #298cfa;
      border: 2px solid #298cfa; }
    .content .fullview .scrollinfo .scrollbox .button.fav:hover {
      background-color: #fd6b68;
      border: 2px solid #fd6b68; }
    .content .fullview .scrollinfo .scrollbox .button.fav:hover .heart {
      background: url("../img/fav-inactive-white.png") center center no-repeat;
      background-size: auto 16px; }
    .content .fullview .scrollinfo .scrollbox .share {
      color: #979797;
      margin: 10px auto;
      height: 20px;
      padding: 10px;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .content .fullview .scrollinfo .scrollbox .share .icon {
        cursor: pointer;
        height: 22px;
        width: 22px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: 0.3s all ease;
        -moz-transition: 0.3s all ease;
        -ms-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease;
        margin: 3px; }
      .content .fullview .scrollinfo .scrollbox .share .fb {
        margin-left: 10px;
        background: url("../img/facebook-white.png") center center #979797 no-repeat;
        background-size: auto 11px; }
      .content .fullview .scrollinfo .scrollbox .share .fb:hover {
        background: url("../img/facebook-white.png") center center #45619d no-repeat;
        background-size: auto 11px; }
      .content .fullview .scrollinfo .scrollbox .share .tw {
        background: url("../img/twitter-white.png") center center #979797 no-repeat;
        background-size: auto 10px; }
      .content .fullview .scrollinfo .scrollbox .share .tw:hover {
        background: url("../img/twitter-white.png") center center #55acee no-repeat;
        background-size: auto 10px; }
      .content .fullview .scrollinfo .scrollbox .share .ph {
        background: url("../img/phone.png") center center #979797 no-repeat;
        background-size: auto 10px; }
      .content .fullview .scrollinfo .scrollbox .share .ph:hover {
        background: url("../img/phone.png") center center #298cfa no-repeat;
        background-size: auto 10px; }
      .content .fullview .scrollinfo .scrollbox .share .em {
        background: url("../img/email-white.png") center center #979797 no-repeat;
        background-size: auto 9px; }
      .content .fullview .scrollinfo .scrollbox .share .em:hover {
        background: url("../img/email-white.png") center center #298cfa no-repeat;
        background-size: auto 9px; }
  .content .fullview .scrollinfo.fix {
    position: fixed;
    top: 138px;
    right: 33%;
    z-index: 2; }
  .content .fullview .scrollinfo.fix .topbar {
    background: -webkit-linear-gradient(left, #298cfa, #c86dd7);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #298cfa, #c86dd7);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #298cfa, #c86dd7);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #298cfa, #c86dd7);
    /* Standard syntax (must be last) */ }
  .content .fullview .scrollinfo.fix .blurred {
    display: none; }
  .content .fullview .scrollnav {
    z-index: 0;
    position: fixed;
    top: 98px;
    left: 0;
    height: 40px;
    width: 50%;
    background: -webkit-linear-gradient(left, #298cfa, #298cfa 70%, #0051af);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #298cfa, #298cfa 70%, #0051af);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #298cfa, #298cfa 70%, #0051af);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #298cfa, #298cfa 70%, #0051af);
    /* Standard syntax (must be last) */
    color: white;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease; }
    .content .fullview .scrollnav .anchor {
      cursor: pointer;
      position: relative;
      float: left;
      width: auto;
      font-size: 12px;
      height: 12px;
      padding: 14px 20px;
      color: rgba(255, 255, 255, 0.8);
      -webkit-transition: 0.3s all ease;
      -moz-transition: 0.3s all ease;
      -ms-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .content .fullview .scrollnav .anchor.active {
      color: white;
      padding-bottom: 10px;
      border-bottom: 4px solid rgba(255, 255, 255, 0.7); }
  .content .fullview .scrollnav.hidden {
    left: 100%;
    opacity: 0;
    filter: alpha(opacity=0); }
  .content .fullview .about {
    background-color: #f4f4f4;
    color: #405163;
    width: 57%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 40%;
    padding-bottom: 40px; }
    .content .fullview .about .heading {
      font-family: 'Avenir Bold';
      font-size: 16px;
      margin: 20px 0; }
    .content .fullview .about .desc {
      line-height: 22px;
      margin: 20px 0; }
    .content .fullview .about .photos {
      margin: 20px 0; }
    .content .fullview .about .photocontainer {
      width: 30%;
      height: auto;
      margin: 1%;
      margin-bottom: 20px;
      display: inline-block;
      overflow: hidden;
      position: relative; }
      .content .fullview .about .photocontainer .overlay {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 80%;
        padding: 0 10%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.6); }
    .content .fullview .about .photocontainer img {
      height: auto;
      width: 100%; }
    .content .fullview .about .section {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: top;
      -webkit-align-items: top;
      -ms-flex-align: top;
      align-items: top;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 20px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.05); }
      .content .fullview .about .section .heading {
        font-family: 'Avenir Next'; }
      .content .fullview .about .section ul li {
        color: #979797; }
      .content .fullview .about .section .col {
        padding-top: 20px;
        color: #979797; }

.map {
  z-index: 10;
  /*position:absolute;
  top:60px;
  left:67%;
  right:0;
  bottom:0;*/
  position: relative;
  width: 33%;
  height: 100%;
  margin-top: 60px;
  float: left;
  margin-left: -15px;
  /* hide scrollbar */ }

.lang {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  padding: 0px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #5c5c5c;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  z-index: 11; }
  .lang img {
    margin-right: 5px; }

.blurcontainer {
  position: relative;
  height: 100%;
  width: 100%; }

.blurcontainer.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
  /*	filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='3'%20/></filter></svg>#blur");
  */
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); }

.login-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 14;
  background: -webkit-linear-gradient(left, rgba(41, 140, 250, 0.8), rgba(200, 109, 215, 0.8));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(41, 140, 250, 0.8), rgba(200, 109, 215, 0.8));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(41, 140, 250, 0.8), rgba(200, 109, 215, 0.8));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(41, 140, 250, 0.8), rgba(200, 109, 215, 0.8));
  /* Standard syntax (must be last) */
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease; }
  .login-overlay .dark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1); }
  .login-overlay .close {
    cursor: pointer;
    height: 30px;
    width: 30px;
    background: url("../img/x.png") center center no-repeat;
    background-size: contain;
    margin-bottom: 10px; }
  .login-overlay .form {
    width: 50%;
    text-transform: uppercase;
    margin: 40px 0; }
    .login-overlay .form span {
      display: block; }
    .login-overlay .form .other {
      width: 100%;
      text-align: left;
      text-transform: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: space-between;
      -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
      justify-content: space-between; }
      .login-overlay .form .other .remember {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: flex-start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start; }
      .login-overlay .form .other a {
        display: block;
        color: #92c7fa;
        -webkit-transition: 0.3s all ease;
        -moz-transition: 0.3s all ease;
        -ms-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease; }
      .login-overlay .form .other a:hover {
        color: white; }
  .login-overlay .button {
    cursor: pointer;
    width: 250px;
    color: white;
    margin: 10px auto;
    height: 12px;
    padding: 14px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    border: 2px solid white;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .login-overlay .em {
    background: url("../img/email-white.png") center left no-repeat;
    background-position: 50px 10px; }
  .login-overlay .em:hover {
    color: #298cfa;
    background: url("../img/email-blue.png") center left no-repeat white;
    background-position: 50px 10px; }
  .login-overlay .fb {
    background: url("../img/facebook-white.png") center left no-repeat;
    background-position: 50px 8px; }
  .login-overlay .fb:hover {
    color: #298cfa;
    background: url("../img/facebook-blue.png") center left no-repeat white;
    background-position: 50px 8px; }
  .login-overlay .or {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #92c7fa;
    height: 40px;
    width: 50%; }
    .login-overlay .or .line {
      width: 45%;
      height: 2px;
      background-color: #92c7fa; }
    .login-overlay .or span {
      display: inline-block;
      text-align: center;
      width: 10%; }
  .login-overlay .signup {
    width: 46%;
    margin: 10px;
    margin-top: 20px;
    border-top: 2px solid #92c7fa;
    padding: 20px;
    color: #92c7fa;
    text-align: center; }
    .login-overlay .signup a {
      color: white;
      -webkit-transition: 0.3s all ease;
      -moz-transition: 0.3s all ease;
      -ms-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .login-overlay .signup a:hover {
      text-decoration: underline; }

.login-overlay.hidden {
  top: -100%;
  opacity: 0; }

/* INPUT STYLES */
.login-overlay input[type="text"], .login-overlay input[type="password"] {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px 0;
  border: none;
  outline: none;
  font-family: 'Avenir Next';
  font-size: 14px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid white; }
.login-overlay ::-webkit-input-placeholder {
  color: #92c7fa; }
.login-overlay :-moz-placeholder {
  /* Firefox 18- */
  color: #92c7fa; }
.login-overlay ::-moz-placeholder {
  /* Firefox 19+ */
  color: #92c7fa; }
.login-overlay :-ms-input-placeholder {
  color: #92c7fa; }

@-moz-document url-prefix() {}
input[type="checkbox"] {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  	/*
      border: 2px solid white;
      background-color:transparent;*/
  background: url("../img/checkbox.png") top left no-repeat;
  color: #FFF;
  white-space: nowrap;
  overflow: hidden;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  cursor: pointer; }

input[type="checkbox"]:checked {
  background: url("../img/check-white.png") -15px top no-repeat; }

.content .search input[type="text"], .content .search input[type="password"] {
  width: 30%;
  margin-right: 2%;
  margin-top: 1px;
  cursor: pointer;
  border-radius: 0;
  padding: 10px 0;
  border: none;
  outline: none;
  font-family: 'Avenir Next';
  font-size: 14px;
  vertical-align: middle;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: url("../img/triangle.png") right center no-repeat transparent;
  color: #979797;
  border-bottom: 2px solid #979797; }
.content .search ::-webkit-input-placeholder {
  color: #979797; }
.content .search :-moz-placeholder {
  /* Firefox 18- */
  color: #979797; }
.content .search ::-moz-placeholder {
  /* Firefox 19+ */
  color: #979797; }
.content .search :-ms-input-placeholder {
  color: #979797; }

.moz-select {
  display: inline-block;
  margin-right: 2%;
  width: 26%;
  height: 35px;
  margin-top: 10px;
  border-bottom: 2px solid #979797; }

.content input[type="date"], .content select {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 0;
  padding: 10px 0;
  margin-bottom: 10px;
  border: none;
  outline: none;
  font-family: 'Avenir Next';
  font-size: 14px;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: url("../img/triangle.png") right center no-repeat transparent;
  color: #979797; }

.content input[type="date"] {
  border-bottom: 2px solid #979797; }

@-moz-document url-prefix() {
  .moz-select {
    background: url("../img/triangle.png") right center no-repeat; }

  .content select {
    height: 40px;
    -moz-appearance: window;
    width: 100%;
    background-color: transparent; } }

.content select option {
  box-shadow: none; }

.bed, .size, .bath {
  padding-left: 25px; }

.bed {
  background: url("../img/bed.png") left center no-repeat, url("../img/triangle.png") right center no-repeat transparent;
  background-size: auto 20px, auto auto; }

.size {
  background: url("../img/size.png") left center no-repeat, url("../img/triangle.png") right center no-repeat transparent;
  background-size: auto 20px, auto auto; }

.bath {
  background: url("../img/bathroom.png") left center no-repeat, url("../img/triangle.png") right center no-repeat transparent;
  background-size: auto 20px, auto auto; }

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  filter: alpha(opacity=0); }

input[type="date"]::-webkit-inner-spin-button {
  display: none; }

@media only screen and (max-width: 700px) {
  .bars {
    display: none; }

  .content .search .details .row {
    height: 180px; }

  .content .search .details .row:last-child {
    height: 90px; }

  .content .search input[type="text"], .moz-select {
    width: 100%;
    margin-bottom: 10px; }

  .moz-select:first-child {
    margin-top: 0; }

  .content .search .results .filters .number {
    margin: 0 auto; }

  .bed, .size, .bath {
    width: 92%; } }
input[type=range] {
  margin-left: -1px;
  background: transparent;
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 95%;
  /* Specific width is required for Firefox. */ }

input[type=range]:focus {
  outline: none;
  /* Removes the blue border.  */
  border: none; }

input[type=range]::-ms-track {
  width: 95%;
  cursor: pointer;
  background: transparent;
  /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent; }

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2); }

/* Firefox, IE */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer; }

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer; }

input[type=range]::-webkit-slider-runnable-track {
  width: 95%;
  height: 4px;
  cursor: pointer;
  box-shadow: none;
  background-color: transparent;
  border-radius: 0px;
  border: 0; }

input[type=range]::-moz-range-track {
  width: 95%;
  height: 4px;
  cursor: pointer;
  box-shadow: none;
  background-color: transparent;
  border-radius: 0px;
  border: 0; }

.progress {
  width: 95%;
  height: 4px;
  position: relative;
  margin-top: 30px;
  margin-bottom: -12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -webkit-align-items: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.progress-fill {
  height: 100%;
  width: 50%;
  background: -webkit-linear-gradient(left, rgba(41, 140, 250, 0.8), rgba(200, 109, 215, 0.8));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(41, 140, 250, 0.8), rgba(200, 109, 215, 0.8));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(41, 140, 250, 0.8), rgba(200, 109, 215, 0.8));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(41, 140, 250, 0.8), rgba(200, 109, 215, 0.8));
  /* Standard syntax (must be last) */ }

.progress-grey {
  width: 50%;
  background: rgba(151, 151, 151, 0.28); }

.map2 {
  display: none; }

/*  RESPONSIVE  */
@media only screen and (max-width: 500px) {
  .content .search .results .listings .apartment {
    width: 92%; }
  .content .fullview .stats {
    text-align: center; }
  .content .fullview .info {
    text-align: center; } }
@media only screen and (max-width: 600px) {
  .content {
    /*.location {
    	position:relative;
    	width:100%;
    	margin:0 auto;
    	padding-right:15px;
    }*/ }
    .content .search .details .row .item {
      padding: 0 15px; }
    .content .search .results .listings .apartment {
      width: 92%; }
    .content .fullview .stats {
      text-align: center; }
    .content .fullview .info {
      text-align: center; }
    .content .fullview .pic {
      height: 200px; }
    .content .fullview .blurred, .content .fullview .topbar {
      display: none; }
    .content .fullview .scrollinfo {
      width: 100%;
      position: relative;
      top: auto;
      box-shadow: none; }
    .content .fullview .scrollinfo.fix {
      position: relative;
      top: 0;
      right: 0;
      z-index: 2; }
    .content .fullview .scrollnav {
      display: none; }
    .content .fullview .about {
      width: 94%;
      padding-top: 3%;
      padding-left: 3%;
      padding-right: 3%;
      padding-bottom: 40px; }

  .login-overlay .form {
    width: 80%; } }
@media only screen and (max-width: 950px) {
  .content {
    width: 100%;
    padding-right: 0px; }
    .content .location {
      width: 100%; }
    .content .fullview .scrollinfo.fix {
      right: 0; }
    .content .fullview .scrollnav {
      width: 70%; }

  .map {
    width: 100%;
    height: 200px; }

  .map2 {
    display: block;
    width: 100%;
    height: 400px; }

  .lang {
    display: none; } }
@media only screen and (min-width: 600px) {
  .content .fullview .scrollinfo {
    width: 270px; } }
@media only screen and (min-width: 850px) {
  .content .fullview .scrollinfo {
    width: 320px; } }
@media only screen and (min-width: 950px) {
  .content .fullview .scrollinfo {
    width: 270px; } }
@media only screen and (min-width: 1130px) {
  .content .fullview .scrollinfo {
    width: 320px; } }
